-
    const defaultFieldProps = {
        classes: '',
        tag: 'input',
        type: 'text',
        placeholder: '',
        inputAttr: {},
        resetBtn: false,
        isRequired: false
    }

mixin field(props = defaultFieldProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultFieldProps.classes,
            tag: props.tag ? props.tag : defaultFieldProps.tag,
            type: props.type ? props.type : defaultFieldProps.type,
            placeholder: props.placeholder ? props.placeholder : defaultFieldProps.placeholder,
            inputAttr: props.inputAttr ? props.inputAttr : defaultFieldProps.inputAttr,
            resetBtn: props.resetBtn ? props.resetBtn : defaultFieldProps.resetBtn,
            isRequired: props.isRequired ? props.isRequired : defaultFieldProps.isRequired,
        }

    label.field(class= `${checkProps.classes} ${checkProps.resetBtn ? "field--reset" : ""} ${checkProps.tag === 'textarea' ? 'field--textarea' : ''}` data-js=`${checkProps.tag === 'textarea' ? 'textarea' : 'formField'}`)&attributes(attributes)
        - if(checkProps.tag === 'input')
            input.field__input(type=checkProps.type placeholder=checkProps.placeholder)&attributes(checkProps.inputAttr)
            - if(checkProps.resetBtn)
                span.field__reset(data-js='fieldResetBtn')
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#close`)
        - if(checkProps.isRequired)
            span.field__error.field-error
                span.field-error__icon
                    svg
                        use(xlink:href=`./img/sprites/sprite.svg#invalid_field`)
                span.field-error__text(data-js='fieldError')

        - if(checkProps.tag === 'textarea')
            textarea.field__textarea.has-scroll(rows="1" placeholder=checkProps.placeholder)
        //- if(checkProps.tag === 'select')
            select.field__select(data-js='formSelect')
                option
                option Высшее
                option Средне-специальное
                option Среднее
