-
    const defaultTitleProps = {
        tag: 'h2',
        text: 'Заголовок',
        classes: '',
    }

mixin title(props = defaultTitleProps)
    -
        const checkProps = {
            tag: props.tag ? props.tag : defaultTitleProps.tag,
            text: props.text ? props.text : defaultTitleProps.text,
            classes: props.classes ? props.classes : defaultTitleProps.classes
        }

    case checkProps.tag
        when 'h1'
            .title.title__h1(class=checkProps.classes)&attributes(attributes)
                h1(data-anim="title")!= checkProps.text
        when 'h2'
            .title.title__h2(class=checkProps.classes)&attributes(attributes)
                h2(data-anim="title")!= checkProps.text
        when 'h3'
            .title.title__h3(class=checkProps.classes)&attributes(attributes)
                h3(data-anim="title")!= checkProps.text
        when 'h4'
            .title.title__h4(class=checkProps.classes)&attributes(attributes)
                h4(data-anim="title")!= checkProps.text
        when 'h5'
            .title.title__h5(class=checkProps.classes)&attributes(attributes)
                h5(data-anim="title")!= checkProps.text
        when 'h6'
            .title.title__h6(class=checkProps.classes)&attributes(attributes)
                h6(data-anim="title")!= checkProps.text				